body {
width: 100%;
height: 100%;
background-color: antiquewhite;
}
.header-1 {
background-color: #7c7878;
width: 1290px;
height: 70px
}

.exemplo-0 img{
    filter: invert(0%)
}
.QrCodeRick img{
    margin:auto;
    float: right;
}

main {
margin: 0 auto;
width: 980px;
float: left;
position: relative;
}
button {
    width: 120px;
    height: 25px;
}